<div class="d-flex justify-content-center align-items-center w-100">
    <div class="col-12">
        <h5 class="card-title mb-4">Crear nueva visita</h5>
        <div class="row">

            <!-- Ruta Designada -->
            <div class="col-12 col-md-6 mb-3">
                <label for="veRu_Id" class="form-label">Ruta Designada</label>
                <select id="veRu_Id" class="form-select" [(ngModel)]="visita.veRu_Id" required>
                    <option value="" disabled selected>Seleccione una ruta</option>
                    <option *ngFor="let ruta of rutas" [value]="ruta.veRu_Id">{{ ruta.ruta_Descripcion }}</option>
                </select>
                <div class="text-danger mt-1" *ngIf="!visita.veRu_Id && mostrarErrores">
                    <small>El campo Ruta es requerido</small>
                </div>
            </div>
            <!-- Select de Cliente -->
            <div class="col-md-6">
                <label class="form-label">
                    Cliente <span class="text-danger">*</span>
                </label>
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <i class="ri-user-3-line" [ngStyle]="{
                border:
                  !visita.clie_Id && mostrarErrores
                    ? '1px solid #f9bcc4'
                    : '1px solid #e9ecf5',
                backgroundColor:
                  !visita.clie_Id && mostrarErrores ? '#fff5f6' : '#f2f3f9',
                padding: '0.525rem 0.525rem',
                position: 'relative',
                left: '7px',
                borderTopLeftRadius: '8px',
                borderBottomLeftRadius: '8px'
              }">
                        </i>
                        <ng-select class="w-100" [items]="Clientes" bindLabel="clie_NombreNegocio" bindValue="clie_Id"
                            [(ngModel)]="visita.clie_Id" [searchable]="true"
                            [class.is-invalid]="!visita.clie_Id && mostrarErrores" placeholder="Seleccione un cliente"
                            required [searchFn]="searchCliente" (change)="onClienteSeleccionado($event.clie_Id)">
                            <ng-template ng-label-tmp let-item="item">
                                {{ item.clie_Codigo }} - {{ item.clie_Nombres }}
                                {{ item.clie_Apellidos }} - {{ item.clie_NombreNegocio }}
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                                {{ item.clie_Codigo }} - {{ item.clie_Nombres }}
                                {{ item.clie_Apellidos }} - {{ item.clie_NombreNegocio }}
                            </ng-template>
                        </ng-select>
                        <span class="text-danger ms-2" *ngIf="mostrarErrores">*</span>
                    </div>
                    <div class="text-danger mt-1" *ngIf="!visita.clie_Id && mostrarErrores">
                        <small>El campo cliente es requerido</small>
                    </div>
                </div>
            </div>

            <!-- Select de Dirección -->
            <div class="col-md-6">
                <label for="direccion" class="form-label">
                    Dirección <span class="text-danger">*</span>
                </label>
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <i class="ri-map-pin-user-line" [ngStyle]="{
                border:
                  !visita.diCl_Id && mostrarErrores
                    ? '1px solid #f9bcc4'
                    : '1px solid #e9ecf5',
                backgroundColor:
                  !visita.diCl_Id && mostrarErrores ? '#fff5f6' : '#f2f3f9',
                padding: '0.525rem 0.525rem',
                position: 'relative',
                left: '7px',
                borderTopLeftRadius: '8px',
                borderBottomLeftRadius: '8px'
              }">
                        </i>
                        <select id="direccion" name="direccion" class="form-select" [(ngModel)]="visita.diCl_Id"
                            [class.is-invalid]="!visita.diCl_Id && mostrarErrores" required>
                            <option value="" disabled selected>
                                Seleccione una dirección
                            </option>
                            <option *ngFor="let direccion of direcciones" [value]="direccion.diCl_Id">
                                {{ direccion.diCl_DireccionExacta }}
                            </option>
                        </select>
                    </div>
                    <div class="text-danger mt-1" *ngIf="!visita.diCl_Id && mostrarErrores">
                        <small>El campo Dirección es requerido</small>
                    </div>
                </div>
            </div>
            <!-- Estado de Visita -->
            <div class="col-12 col-md-6 mb-3">
                <label for="esVi_Id" class="form-label">Estado de Visita</label>
                <select id="esVi_Id" class="form-select" [(ngModel)]="visita.esVi_Id" required>
                    <option value="" disabled selected>Seleccione estado</option>
                    <option *ngFor="let estado of estadosVisita" [value]="estado.esVi_Id">{{ estado.esVi_Descripcion }}
                    </option>
                </select>
                <div class="text-danger mt-1" *ngIf="!visita.esVi_Id && mostrarErrores">
                    <small>El campo Estado es requerido</small>
                </div>
            </div>
            <!-- Fecha de Visita -->
            <div class="col-12 col-md-6 mb-3">
                <label for="clVi_Fecha" class="form-label">Fecha de Visita</label>
                <input type="date" id="clVi_Fecha" class="form-control" [(ngModel)]="visita.clVi_Fecha" required />
                <div class="text-danger mt-1" *ngIf="!visita.clVi_Fecha && mostrarErrores">
                    <small>El campo Fecha es requerido</small>
                </div>
            </div>
            <!-- Observaciones -->
            <div class="col-12 mb-3">
                <label for="ClVi_Observaciones" class="form-label">Observaciones</label>
                <textarea id="ClVi_Observaciones" class="form-control" [(ngModel)]="visita.clVi_Observaciones" rows="2"
                    maxlength="200" placeholder="Ingrese observaciones"></textarea>
            </div>

            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label">Imagen del empleado<span class="text-danger">*</span></label>
                    <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Selecciona una imagen para subir.'"
                        (success)="onFileSelected($event)"></dropzone>
                    @if (uploadedFiles) {
                    <ul class="list-unstyled mb-0" id="dropzone-preview">
                        @for (file of uploadedFiles; track $index) {
                        <li class="mt-2" id="dropzone-preview-list">
                            <div class="border rounded">
                                <div class="d-flex flex-wrap gap-2 p-2">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-sm bg-light rounded p-2">
                                            @if (file.dataURL) {
                                            <img class="img-fluid rounded d-block" [src]="file.dataURL"
                                                alt="Dropzone-Image" />
                                            }@else {
                                            <img class="img-fluid rounded d-block" [src]="file" alt="Dropzone-Image" />
                                            }
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div class="pt-1">
                                            @if (file.name) {<h5 class="fs-md mb-1">{{ file.name }}</h5>}
                                            @if (file.size) {<p class="fs-sm text-muted mb-0">{{ file.size }}</p>}
                                        </div>
                                    </div>
                                    <div class="flex-shrink-0 ms-3">
                                        <button (click)="removeFile(file)"
                                            class="btn btn-sm btn-danger">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        }
                    </ul>
                    }
                </div>

            </div>

            <div class="mt-auto pt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-end gap-2">
                            <button type="button" class="btn btn-primary gold" (click)="cancelar()">
                                <span class="btn-text">Cancelar</span>
                                <span class="btn-icon"><i class="ri-close-circle-line"></i></span>
                            </button>
                            <button type="button" class="btn btn-primary" (click)="guardar()">
                                <span class="btn-text">Guardar</span>
                                <span class="btn-icon"><i class="ri-save-line"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>