.buttonConfig {
    border: 0px solid;
    background: transparent;
}

.nombre-vendedor {
    font-size: 17px;
    padding: 12px;
    line-height: 15px;
    font-weight: bold;
    text-align: center;
    color: #878a99 !important;
}

.card-vendedor {
    border: 1px solid #eae6e1;
}

.text-muted {
    text-align: left;
}